.fundFooter{
    background: #5B507A;
    height: 120px;
    border-radius: 30px 30px 2px 2px;

}

.box2{
background-color: #5B507A;
 height: 60px;
}

.social{
 font-size: 40px;
}

.textos{
    color: white;
}

