.fundFooter{
    background: #5B507A;
    height: 120px;
    

}

.box2{
background-color: #5B507A;
 height: 60px;
}

.social{
 font-size: 40px !important;
}

.textos{
    font-family: Trebuchet MS;
    color: white;
}


