.cursor{
    cursor: pointer;
    color: white;
}

.fundNav{
    
	background-color: gray;
    width: auto;
}

.icons{
     display: flex;
    
}

.iconLogout {
    position: absolute;
     right: 20px;
     top: 5px;
}
   
.hide {
    display: none;
} 