.cursor{
    cursor: pointer;
    color: white;
}

.fundNav{
    
	background-color: #5B618A;
}

.icons{
     display: flex;
    
}

.iconLogout {
    position: absolute;
     right: 20px;
     top: 5px;
}
    