.cursor{
    cursor: pointer;
    color: white;
}

.fundNav{
    
	background-color: #5B618A;
    border-radius: 2px 2px ;
    color-scheme: transparent;
}

.icons{
     display: flex;
    
}

.iconLogout {
    position: absolute;
     right: 20px;
     top: 5px;
}
   
.hide {
    display: none;
} 